* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

body {
    padding: 0;
    margin: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eeb013;
}

.container {
    width: 600px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 1px;
}

#question-container {
    text-align: center;
    margin: 20px;
}

#result-container {
    text-align: center;
    margin: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 20px 0;
}

.option-btn {
    align-self: stretch;
    min-height: 75px;
}

.option-btn:hover {
    border-color: #036922;
    background-color: #036922;
}

.option-btn:active {
    border-color: #036922;
    background-color: #036922;
    transform: translateY(4px);
}

.btn {
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition-duration: 0.4s;
}

.btn.selected {
    background-color: #036922;
}

.btn.disabled {
    opacity: 0.6;
}

.start-btn {
    margin:10px;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: blue;
    min-width: 250px;
}

.next-btn, 
.result-btn,
.random-btn,
.restart-btn {
    font-weight: bold;
    padding: 10px 20px;
    background-color: blue;
    max-width: 250px;
    font-size: 0.8rem;
}

.start-btn:hover,
.next-btn:hover, 
.random-btn:hover, 
.result-btn:hover, 
.restart-btn:hover {
    background-color: #0000aa;
}

.start-btn:active,
.next-btn:active,
.random-btn:active, 
.result-btn:active,
.restart-btn:active {
    background-color: #0000aa;
    transform: translateY(4px);
}

.controls {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1;
}

.hide {
    display: none;
}